{
    "$schema": "https://json.schemastore.org/prettierrc",
    "arrowParens": "always",
    "bracketSpacing": true,
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrder": [
        "^server-only$",
        "^react$",
        "^next(.*)$",
        "^lucide-react$",
        "<THIRD_PARTY_MODULES>",
        "<THIRD_PARTY_TS_TYPES>",
        "^@/types/(.*)$",
        "^@/lib/(.*)$",
        "^@/components/(.*)$",
        "^@/lib/(.*)$",
        "^@/utils/(.*)$",
        "^@/hooks/(.*)$",
        "^@/store/(.*)$",
        "^@/styles/(.*)$",
        "^(?:\\.\\.?/)+[^/]$",
        "^[./](?!(.*\\.(css|scss|sass|less|styl))).*$",
        "^.+\\.(css|scss|sass|less|styl)$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "importOrderGroupNamespaceSpecifiers": true,
    "importOrderCaseInsensitive": true,
    "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": false,
    "printWidth": 140,
    "singleQuote": true,
    "proseWrap": "always"
}
