{
  "$schema": "https://json.schemastore.org/prettierrc",
  "arrowParens": "always",
  "bracketSpacing": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^react$",
    "^next(.*)$",
    "^@/types/(.*)$",
    "^@/lib/(.*)$",
    "^@/components/(.*)$",
    "^@/app/(.*)$",
    "^@/utils/(.*)$",
    "^@/hooks/(.*)$",
    "^@/store/(.*)$",
    "^@/styles/(.*)$",
    "^@/(.*)$",
    "^[.]/[^/]+$",
    "^[.][.]/[^/]+$",
    "^[.][.][.]/[^/]+$",
    "^[.]/.*$",
    "^[.][.]/.*$",
    "^[.][.][.]/.*$",
    "^[.].*(?<!\\.(css|scss|sass|less|styl))$",
    "^.+\\.(css|scss|sass|less|styl)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "printWidth": 80,
  "singleQuote": true,
  "proseWrap": "always"
}
